{% extends 'base.html' %}

{% block content %}
<div class="container" style="display: flex;  justify-content: space-between;">
    <div style="flex-direction:column;">
    <div class="card scroll" style="border:1px solid grey;width: 50rem; margin-top: 1em; margin-left: -10vw;">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
                <h4 class="card-title" style="border-bottom: 3px solid grey;">Rezultate</h4>
                <div style="overflow-y: auto; max-height: 80vh;">
                    <p class="card-text ">{{data}}</p>
                </div>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
        </div>
        {% if pdf==1 %}

        <div class="card scroll" style="border:1px solid grey;width: 50rem; margin-top: 1em; margin-left: -10vw;">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                    <h4 class="card-title" style='border-bottom: 3px solid grey;'>PDF</h4>
                    <div style="overflow-y: auto; max-height: 80vh;">
                        <iframe src="{{url_for('showpdf',numepdf=nume)}}"  style="width: 100%;height: 500px;">
                        </iframe>
                    </div>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
        </div>
        {% endif %}
    </div>
        <!-- fa un button pentru xml -->
    <div style="flex-direction:column;margin-left: 10em;">
        
        {%if pdf==1 %}
        <div style="flex-direction: row; justify-content: space-between;margin-left:10em;margin-top:1em;margin-bottom:50%;">
            <a href="{{url_for('download')}}" type="button"  class="btn btn-outline-success btn-lg" >
                Descarca XML
            </a>
            <a href="{{url_for('downloadpdf')}}" type="button"  class="btn btn-outline-success btn-lg" >
                Descarca PDF-ul marcat
            </a>
        </div>
            
        {% else %}
        <a href="{{url_for('download')}}" type="button"  class="btn btn-outline-success btn-lg" style="margin-left:13em;margin-top:1em;margin-bottom:50%; " >
            Descarca XML
        </a>
        {% endif %}
        
        <table class="table table-sm table-hover scroll" style="margin-top:-17.5em;width: 45em;">
            <thead>
                <tr>
                    <th scope="col">An</th>
                    <th scope="col">Eveniment</th>
                </tr>
            </thead>
            <tbody>
                <!-- asa se spameaza tabelul -->
                {% for key, value in events.items() %} 
                    <tr>
                        <th scope="row"> {{key}}</th>
                        <td>{{value}}</td> 
                    </tr>
                {% endfor %}
                
            </tbody>
        </table>

    </div>

</div>

{% endblock content %}